useDynLib(qad, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
export(qad)
export(D1)
export(coef.qad)
export(ECBC)
export(ECBC.eval)
export(heatmap.qad)
export(pairwise.qad)
export(plot.qad)
export(plot_density)
export(pqad)
export(predict.qad)
export(pqad)
export(qqad)
export(summary.qad)
export(zeta1)
export(D1.ECBC)
S3method(plot, qad)
S3method(predict, qad)
S3method(coef, qad)
S3method(summary, qad)
S3method(qad, data.frame)
S3method(qad, numeric)
import(data.table, except=c(first, last, between))
importFrom("stats", "ecdf", "quantile", "na.omit", "approxfun", "approx", "model.frame", "runif", "median")
importFrom("Rcpp", "evalCpp")

